<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if inventory %}
    <ul>
    {% for object in inventory %}
    <li>{{object.product.code}} {{object.product.price}} {{object.product.size}} 현재 재고 {{object.quantity}}</li>
    </ul>
    {% endfor %}
    {% endif %}
    <a href="{% url 'product:inventory_create'%}">재고 갱신</a>
</body>
</html>