<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if products%}
    <ul>
    {% for product in products%}
    <li>{{product.code}} {{product.price}} {{product.size}} {{product.description}}</li>
    </ul>
    {% endfor %}
    {% endif %}
    <a href="{% url 'product:product_create'%}">물품 생성</a>
</body>
</html>